{% extends "header.html" %}
{% block content %}
<br><br>

<div style="margin-left: 10%;margin-right:10%">
    <h2 style="text-align: center;">{{current_user.first_name}} {{current_user.last_name}}'s Dashboard</h2>
    <br>
    <h3 style="text-align: center;">RENTED ITEMS</h3>
    <br>
    {% if ri!=0 %}
    <table style="margin-left:auto;margin-right: auto;padding: 10px;border: 1px solid black;border-collapse: collapse;">
        <tr>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">PRODUCT NAME &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">CATEGORY &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">START DATE &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">END DATE &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">SUPPLIER NAME &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">SUPPLIER EMAIL &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">SUPPLIER PHONE &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">SUPPLIER ADDRESS &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">PAYMENT ID &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">BILL AMOUNT &nbsp;&nbsp;&nbsp;</p></th>
        </tr>
        {% for product in rented %}
        <tr>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.Items.item_name}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.Items.category}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.RentedItems.start_date}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.RentedItems.end_date}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.first_name}} {{product.User.last_name}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.email}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.phone}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.address}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.RentedItems.payment_id}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">₹{{product.RentedItems.amount}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3 style="text-align: center;">You have not rented any item yet</h3>
    {% endif %}
    <br><br>
    <h3 style="text-align: center;">LENT ITEMS</h3>
    <br>
    {% if li!=0 %}
    <table style="margin-left:auto;margin-right: auto;padding: 10px;border: 1px solid black;border-collapse: collapse;">
        <tr>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">PRODUCT NAME &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">CATEGORY &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">START DATE &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">END DATE &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">TENANT NAME &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">TENANT EMAIL &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">TENANT PHONE &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">TENANT ADDRESS &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">PAYMENT ID &nbsp;&nbsp;&nbsp;</p></th>
            <th style="padding: 10px;border: 1px solid black;border-collapse: collapse;"><p style="font-size:120%;font-weight:bold">BILL AMOUNT &nbsp;&nbsp;&nbsp;</p></th>
        </tr>
        {% for product in lent %}
        <tr>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.Items.item_name}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.Items.category}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.RentedItems.start_date}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.RentedItems.end_date}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.first_name}} {{product.User.last_name}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.email}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.phone}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.User.address}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">{{product.RentedItems.payment_id}}</td>
            <td style="padding: 10px;border: 1px solid black;border-collapse: collapse;">₹{{product.RentedItems.amount}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3 style="text-align: center;">You have not lent any item yet</h3>
    {% endif %}

</div>

{% endblock %}