body  
{  
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
/* .carousel-control-prev {
    left: 10%;
}
.carousel-control-next {
    right: 10%
} */